.backdrop {
    background: var(--backdrop);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition);
}