.form {
    background: #fff;
    box-shadow: var(--shadow-subtle);
    width: 24em;
    border-radius: var(--radius);
}

.formContainer {
    padding: 1.8em;
    display: flex;
    flex-direction: column;
}

.formHeading {
    text-align: center;
}

.seperator {
    display: block;
    text-align: center;
}
.authOptionText {
    display: block;
    margin-left: 1em;
}
