.formBtn {
    background: var(--primary);
    padding: 0.7em;
    outline: none;
    border: none;
    font-family: var(--font-poppins);
    border-radius: var(--radius-small);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}

.formBtn:hover:enabled {
    box-shadow: 0 3px 6px var(--primary-light);
    background: var(--primary-dark);
}

.formBtn:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
}

.authOption {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0.7em;
    border-radius: var(--radius-small);
    background: #fff;
    box-shadow: var(--shadow-subtle);
    font-size: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--heading-text);
    width: 100%;
}

.authOption:hover:enabled {
    border-color: var(--gray-4);
}
.authOption:disabled {
    background: var(--gray-bg);
    color: var(--gray-4);
    box-shadow: none;
    cursor: not-allowed;
}
