.formInput {
    border: none;
    outline: none;
    background: var(--bg);
    width: 100%;
    padding: 0.7em;
    border: 1px solid transparent;
    font-size: 15px;
}

.formInput:invalid {
    box-shadow: none;
    border-color: var(--danger);
    background: #fff;
}
.formInput:focus {
    background: transparent;
    border-color: var(--bg);
}
