.formInput {
    border: none;
    outline: none;
    background: var(--bg);
    width: 100%;
    padding: 0.7em;
    border: 1px solid transparent;
    font-size: 15px;
    border-radius: var(--radius-small);
}

.formInput:not(.errorInput):focus {
    background: transparent;
    border-color: var(--bg);
}

.errorText {
    color: var(--danger);
    font-size: 0.85em;
    padding: 0 0.7em;
}
.errorInput {
    box-shadow: none;
    border-color: var(--danger);
    background: #fff;
}
